* {
    margin: 0;
    padding: 0;
}

.landing_sub_c{
    display: none;
}

.landing_sub_c_list li {
    float: left;
    padding: 0px 13px;
    list-style-type: none;
    background: #eee;
    margin: 0px 5px;
}

.landing_sub_c_list li a:hover {
    background: #199EFF;
    color: #fff;
}

.landing_sub_c_list li a {
    color: #000;
    font-family: sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}


p{
    color: #000 !important;
}

/* footer nav bottom css */

.mob-footer {
    position: absolute;
    left: 0;
}

.mob-footer span {
    padding: 10px
}

.down-cursor {
    position: absolute;
    right: 0;
    padding: 4px;
    font-size: 21px;
    top: -1px !important;
}

.item {
    left: 49%;
    top: 10%;
    height: 1rem;
    width: 1rem;
    color: red !important;
    font-size: 15px;
}

.facebook_link_btn  {
     padding: 0px 10px;
}

.facebook_link_btn img {
    width: 45px;
    height: 45px;
}

.merchant_link_btn {
    padding: 0px 10px;
}

.merchant_link_btn img {
    width: 35px;
    height: 35px;
}

/* fronte category icon landing page  */

.category_image_icon {
    width: 65px;
    height: 65px;
    border-radius: 5px;
}


/* css of frntend banner */

.call_now_container {
    padding: 10px;
    border: 2px dotted #199eff;
}

.order_now_container {
    display: block;
    padding: 10px;
    border: 2px dotted #199eff;
    margin: 10% 0%;
}

.res {
    display: none;
}


/* feauture products css */

.feature_product_row {
    overflow-x: hidden;
    max-height: 330px;
}

.feature-col {
    width: 235px !important;
    height: 235px !important;
    text-align: center;
}
.feature-col :hover {
    opacity: .5;
}

.feature-col img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: .5rem;
    padding: .5rem;
    border-radius: 1rem;
}

.title-img {
    margin-left: .5rem;
    margin-right: .5rem;
    position: relative;
    bottom: 1.8rem;
    display: block;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    background: black;
    opacity: 0.6;
    border-radius: 0 0 .5rem .5rem;
}

.title-img span {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    margin-left: .5rem;
}


/* trending product css is here */

ul li:hover {
    background-color: #ddd;
}

.trending_sub_c_li {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.trending_sub_c_li a {
    color: #333e48;
}

.ec-arrow-right-categproes {
    float: right;
    margin-top: 5px
}

.trending_p_container {
    margin: 12px !important;
}


/* campaign page css start form here */

.centered {
    position: absolute;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}


/* cart page css */

.floating-cart {
    display: none;
}

.vhl-item {
    width: 20% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.product-item {
    width: 100% !important;
}

.img_under_banner {
    max-width: 100%;
    height: auto;
}


/* 21/04/21  */

.cart_qty {
    padding: 8px;
}

.product-details p{
   line-height: 10px !important;
}

@media(min-width: 1480px) {
    .res {
        display: inline;
    }
}

.flex-center-between {
    margin-top: 10px !important;
    margin-bottom: 4px;
}

@media screen and (max-width:768px) {


    .viewallcatlink {
        background: #199EFF;
        color: #fff !important;
        padding: .3rem;
        border-radius: .2rem .2rem 0 0;
        width: 80px;
        padding-left: 10px;
    }

    .landing_sub_c_list {
        display: none;
        position: absolute;
        z-index: 55555;
        margin-top: 181px;
        margin-left: 72px;
        width: 60%;
    }

    .landing_sub_c_list li {
        float: none;
        padding: 4px 25px;
        list-style-type: none;
        background: #fff;
        margin: 0px 5px;
        border: .5px solid #ddd;
    }

    .landing_sub_c_list li a {
        font-size: 14px;
    }

    .landing_sub_c_list_toggle {
        display: block;
    }

    .landing_sub_c{
        display: block;
        cursor: pointer;
    }

    .landing_sub_c>i {
        font-size: 28px;
        margin-left: -56px;
        margin-top: 2px;
    }




    /* price section */
    .flex-center-between {
        margin-top: 10px !important;
    }
    /* feauture products css */

    /* general product container */
    .product-item {
        height: auto !important;
    }
    /* single related product container */
    .gdot4 {
        width: 48% !important;
        margin: 3px !important;
    }
    .product-item__title a {
        font-size: 14px !important;
    }
    /* campaign page responsive css start form here */
    .centered {
        top: 11%;
        left: 50%;
    }
    /* cart page css  */
    /* hiding pages link  */
    .bg-gray-14 {
        display: none;
    }
    /* displaying menu icons in small view */
    .__footer-menu {
        display: block;
    }
}

.__footer_nav {
    display: none;
}

@media screen and (max-width:600px) {

    .product_details_row{
        margin-top: 90px !important;
    }
    .right_side_of_slider {
        display: none;
    }
    .owl-dots {
        margin-top: -15px !important;
    }
    .vhl-list .vhl-item {
        width: 50% !important;
    }
    .img-fluid {
        max-width: 100%;
    }
    .single_product_image {
        width: 100%;
    }
    /* today /* 21/04/21  */
    .text-gray-90 {
        color: #199EFF;
        font-size: 12px;
        font-weight: 600;
    }
    .cart_image {
        margin-left: -18%;
    }
    .cart_remover {
        position: absolute;
        margin-left: 20%;
        font-size: 35px;
        margin-top: -5%;
    }
    .cart_qty {
        padding: 5px;
        margin-top: 30px;
        position: absolute;
        margin-left: -22px;
    }
    .cart_qty_up {
        border-radius: 5px;
        margin-top: 60px;
        position: absolute;
        margin-left: -25px;
    }
    input {
        width: 100%;
    }
    .cart-icon {
        display: none;
    }
    body {
        overflow-x: none;
    }
    .__footer_nav {
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #fff;
        height: 3.5rem;
        z-index: 9999999;
        left: 0;
        box-shadow: 5px 10px 18px #333e48;
        padding-top: 0.45rem;
        color: #333;
        display: block;
    }
    .__footer_nav ul {
        display: flex;
        list-style: none;
    }
    .__footer_nav ul li {
        font-size: 1.55rem;
        color: #199eff !important;
        width: 20%;
        padding-left: 2rem;
    }
    .__footer_nav ul li a {
        color: #199eff !important;
    }
    .__header_facebook {
        margin-left: auto;
    }
    .__header_search i {
        color: #1776b9;
    }
    ul.__responsive_search {
        position: absolute;
        z-index: 999999;
        background: #fff;
        left: 4%;
        width: 92%;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 10px;
        top: 55px;
    }
    ul.__responsive_search form {
        display: flex;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .rSearchBtn {
        position: absolute;
        right: 0;
        border: none;
        background: #1a75bc;
        width: 60px;
        height: 100%;
        border-radius: 0px 50px 50px 0px;
    }
    .rSearchBtn i {
        color: #fff !important;
    }
    .__footer_menu {
        position: fixed;
        width: 75%;
        height: 100%;
        background: #fff;
        z-index: 999999;
        top: 0;
        left: 0;
        box-shadow: 0px 0px 10px #eee;
        padding: 0px 15px;
        overflow-y: auto;
        padding-bottom: 4rem;
    }
    .__footer_menu .__header {
        width: 100%;
        display: flex;
        list-style: none;
    }
    .__footer_menu .__header li {
        padding: 5px 15px;
        margin-top: 10px;
    }
    .__footer_menu li.active {
        background: #5da2d1;
        color: #fff;
        border-radius: 18px;
        height: 30px;
        text-align: center;
    }
    ul.__footer_menu_nav {
        list-style: none;
        padding: 15px 15px;
    }
    ul.__footer_menu_nav li {
        border-bottom: 1px solid #5da2d1;
        padding: 5px 0px;
    }
    ul.__footer_menu_nav li:last-child {
        border: none;
    }
    ul.__footer_menu_nav li a {
        color: #333e48;
    }
    .__footer_mneu_footer {
        list-style: none;
        padding: 5px 6px;
    }
    .__footer_menu_s_link a {
        color: #333e48;
    }
    ul.__footer_category {
        list-style: none;
        padding: 12px;
    }
    li.__footer_category_item {
        position: relative;
        width: 100%;
        padding: 5px 2px;
        border-bottom: 1px solid #199eff;
    }
    li.__footer_category_item:last-child {
        border: none;
    }
    li.__footer_category_item a {
        color: #333e48;
    }
    li.__footer_category_item i {
        float: right;
        font-size: 20px;
    }
    ul.__footer_c_sub {
        list-style: none;
        padding: 3px 8px;
        display: none;
    }
    ul.__footer_c_sub.__show li {
        border-bottom: 1px solid #333e48;
        padding: 3px;
    }
    ul.__footer_c_sub.__show li:last-child {
        border-bottom: none;
    }
    ul.__footer_c_sub_sub {
        padding: 0px 10px;
        list-style: none;
        display: none;
    }
    .v-toast {
        width: 90% !important;
        left: 10% !important;
    }
    .cart_row {
        background: #fff;
        font-size: 12px;
    }
    thead.cart_t_head {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}

.__serach_box {
    position: relative;
}

.search_icon {
    position: absolute;
    right: 1%;
}

.font-1-5 {
    font-size: 1.5rem;
}

.color-g {
    color: #32AB00;
}

.__nav_list_highlight_link {
    height: 36px;
    padding: 8px 15px !important;
    transition: .3s;
    text-transform: uppercase;
}

.__nav_list_highlight_link:hover {
    background: #2277b2 !important;
}

li.__user_account.pointer {
    position: relative;
}

ul.user-account-link-drop-down-link {
    position: absolute;
    background: #fff;
    width: 160px;
    height: 100px;
    z-index: 99;
    border-radius: 5px;
    border: 1px solid #eee;
    top: 100%;
    left: -56px;
}

ul.user-account-link-drop-down-link a {
    color: #216a9c;
    font-size: 16px;
    border-bottom: 1px solid #199EFF;
    padding: 6px 40px;
    display: block;
    transition: .3s;
}

ul.user-account-link-drop-down-link a:hover {
    color: #00ffff;
}

.col-lg-6.campaign_img {
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 80%;
    margin-right: 0%;
}

.campaign_img {
    width: 98%;
    position: relative;
    background: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    /* margin-right: 1px; */
    box-shadow: 3px 3px 3px #eee;
    transition: .3s;
    cursor: pointer;
}

.campaign_img img {
    max-width: 98%;
}

.cmpoverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008cba26;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    border-radius: 1rem;
}

.campaign_img:hover>.cmpoverlay {
    overflow: visible;
}

.__show {
    display: block !important;
}

.slider-img {
    border-radius: 10px;
}


/* .section-title {
    font-weight: 600 !important;
} */


/* .font-weight-600 {
    font-weight: 600;
} */

ul.__cart-product-list li {
    margin-bottom: 10px;
}

.vue-horizontal-list {
    overflow-x: hidden;
}


/* Customize Be Diponker Roy */

.owl-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.sliderCont {
    margin-bottom: 2rem;
}

.img_under_banner {
    width: 100%;
}

.font-size-30 {
    font-size: 1.2rem !important;
}

.owl-stage-outer {
    border-radius: 0.5rem;
}

.right_side_of_slider {
    margin-left: 0.5rem;
}

.single_product_image{
    max-width: 490px;
}

@media (min-width: 992px) {
    .col-lg-9 {
        flex: 0 0 71%;
        max-width: 71%;
    }
}

.__category-menu {
    margin-top: 36px !important;
    height: auto !important;
}

.c-item:hover {
    background: #c8e9ff !important;
}

ul.__c_sub,
.__c_sub_sub {
    height: 100% !important;
    top: 0 !important;
}

.__c_sub_sub .finalSub {
    padding-top: 3px;
}

.__category-menu li {
    font-family: Rubik, Noto Sans Bengali, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}

.sideCartClose {
    font-size: 18px ​!important;
}

.__cart {
    width: 420px !important;
    z-index: 999;
}

.cart-icon {
    width: auto;
    z-index: 9 !important;
    height: 60px;
    padding: 0px 2rem 0 0;
}

.__cartcart_body {
    margin-top: 5%;
    max-height: 66vh;
    min-height: 60vh;
    overflow-y: scroll;
    overflow-y: scroll;
}

.cmpposter {
    flex: 0 0 50%;
    max-width: 50%;
    flex-direction: column;
    width: 100%;
    padding: 0.2rem;
    position: relative;
}

.cmpposter img {
    background: #fff;
}

.cmpposter:hover .cmpoverlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.btn-icon.btn-xs {
    width: 1.5rem;
    height: auto;
}

.qnttInput {
    max-width: 45% !important;
}

.btn-icon.btn-xs {
    width: 34px;
    height: 26px;
    padding-top: 5px;
}

#attrid {
    width: 220px;
}

.v-toast {
    bottom: 3.5rem !important;
}

@media screen and (max-width: 600px) {
    .img-fluid {
        height: auto;
    }
}

.owl-theme .owl-dots .owl-dot span {
    border-radius: 0 !important;
}

@media (max-width: 767.98px) {
    .__cart {
        width: 18.75rem !important;
    }
    .__cartcart_body {
        min-height: 60vh;
        max-height: 58vh;
    }
    .__cart__footer {
        bottom: 12%;
        left: 0;
        background: #fff;
        padding-top: .5rem;
    }
}

ul.__cart-product-list li img {
    max-width: 73px;
    max-height: 73px;
}

.__cart_product_desc h6 {
    font-size: 0.74987rem;
    padding-top: .5rem;
    margin-bottom: 0 !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.__cart_product_desc h6 strong {
    font-weight: 500;
}

.__cart_product_desc span {
    position: absolute;
    bottom: 0;
}

.__cart_sub_total {
    position: absolute;
    padding-top: .5rem;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    bottom: 20%;
    left: 0;
    background: #fff;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .v-toast {
        left: 5% !important;
    }
    .font-size-20 {
        font-size: 1.25038rem !important;
    }
    .thumnail_img-box img {
        max-height: 50px !important;
    }


    .cart_buy_container {
        display: flex;
        margin-top: 27px;
    }


}

.__sticky {
    z-index: 99 !important;
    top: 0;
    position: fixed;
    animation: smoothScroll 1.5s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

img#user_account_d {
    border-radius: 50%;
}

.tab-content {
    width: 100%;
}

.__user_sidebar .router-link-active {
    color: #878787 !important;
    border-left: 2px solid #368ec9;
}

thead.bg-warning th {
    color: #fff;
    font-weight: 600;
}

.pagination {
    float: right;
    margin-top: 20px;
}

.payment_tble p {
    text-align: left !important;
}

img.responsive-image.choosed-thumb {
    max-width: 40px;
    max-height: 40px !important;
}

img.zoomer-control.responsive-image {
    max-height: 20px;
    max-width: 20px;
}

img.responsive-image.preview-box {
    max-width: 400px;
}

.thumnail_img-box {
    display: flex;
    max-height: 70px;
    max-width: 400px;
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 10px;
}

.thumnail_img-box img {
    max-width: 10%;
    max-height: 100%;
    border-radius: 5px;
    margin-right: 10px;
}

.thumnail_img-box {
    max-height: 45px;
    margin-top: 5px;
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .col-xl-7 {
        flex: 0 0 63%;
        max-width: 63%;
    }
}

@media (min-width: 1200px) {
    .col-xl-5 {
        flex: 0 0 30%;
        max-width: 30%;
    }
}

@media (min-width: 1480px) {
    .col-wd-dev2 {
        flex: 0 0 75%;
        max-width: 80%;
    }
}

@media (min-width: 1480px) {
    .col-wd-dev {
        flex: 0 0 24%;
        max-width: 30%;
    }
}

.__showChahida {
    display: none;
}


td.__qty_cart_product a {
    /* background: #fff; */
    padding: 3px 15px;
    width: 40px;
    text-align: center;
    border: 1px solid #000;
    transition: .3s;
    margin: 0 5px;

    /* height: 28px; */
}

td.__qty_cart_product a:hover{
background: gray !important;
}

@media only screen and (max-width: 600px) {
    div#notfound {
        width: 90% !important;
    }
    .__hide_resp {
        display: none !important;
    }
    .__showChahida {
        display: block;
    }
    .__cart_img{
        max-width: 50px;
        max-height: 50px;
    }
    .cart_remover {
        margin-left: 11%;
        font-size: 25px;
        margin-top: -3%;
    }
    td.__qty_cart_product{
        display: flex;
    }
    td.__qty_cart_product a {
        padding: 2px 10px;
    }
    .form-check-input {

        margin-left: -12.25rem;

    }
}

.product-item__outer {
    height: 100% !important;
}

.cmpposter_full_width {
    max-width: 100%;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.cmpposter_full_width img {
    max-width: 100%;
    border-radius: .5rem;
}

.swal2-title{
    font-size: 20px  !important;
}


img.slider-img {
    max-height: 350px;
}
.browse-by-category {
    width: 100%;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
ul.list-unstyled.mb-0.view-all.__category_list_sidebar {
    background: #fff;
    width: 180px;
    min-height: 255px;
    max-height: 255px;
    overflow-x: auto;
    margin: 0!important;
}
@media (min-width: 768px){
.ctgleft.col-md-2 {
    margin: 0!important;
    margin-right: 30px!important;
}
.vue-horizontal-list .trending_p_container {
    margin: 0 12px!important;
}
}


.owl-dots {
    display: none !important;
}

.category-icon img {

    width: 60px !important;
    height: 60px;
    border-radius: 50%;
    border: 1.5px dashed;
    margin:auto;

}

.category-icon {
    width: 120px;
    background: #fff;
    padding: 10px 0px;
    height: 120px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 3px 3px 3px #ddd;
    margin-right: 10px;
    transition: .3s;
    cursor: pointer;
    border-radius: 5px;
}

.category-icon p {
    padding-top: 10px;
    font-size: 12px;
    line-height: 14px;
    color:#000;
}

.category-icon:hover{
    background-color: #ddd;
}

.__product_card {
    background: #fff;
    padding: 10px;
    margin-right: 8px;
    width: 95%;
    height: 245px;
    margin: 10px 0px;
    text-align: center;
    /* border-radius: 10px; */
    box-shadow: 2px 2px 2px #eee;
    max-height: 300px;
    border: 1px solid #efca9f;
}

.__product_card_img  img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 6px;
    cursor: pointer;
    transition: 1s;

}

.__product_card_img img:hover {
    transform: scale(1.1);
}


.advertise_banner_1 {
    width: 98%;
}

.advertise_banner_2 {
    width: 100%;
}

.__product_details h4 {
    font-size: 14px;
    display: block;
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
    transition: .1s;
    cursor: pointer;

}
.__product_details h4:hover{
    color:#199eff ;
}
p.price {
    margin-bottom: 0;
    font-size: 15px;
    color: #000;
}
.width-20{
    width: 16.66%;
}

p.price del {
    color: red;
}
.category-heading {
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    PADDING: 8px;
}

.category-heading h3 {
    padding-top: 7px;
    font-size: 20px;
    color: #000;
}

ul.__category_list_sidebar {
    list-style: none;
    background: #fff;
    min-height: 96%;
    width: 95%;
    padding: 6px;
    margin-top: 5%;
}
.category-sec{
    margin-bottom: 15px;
}


@media only screen and (max-width: 600px) {


    .width-20{
        width: 50%;
    }

    .feature-col {
        width: 170px !important;
        height: 170px !important;
        text-align: center;
    }


    .__product_card {
        height: 250px;
    }

    .__category_list_sidebar{
        display: none;
    }

    .category-icon {
        width: 100px;
        height: 120px;
        padding: 3px 20px;
        margin-top: 10px;
    }

    .category-icon p{
        font-size: 10px;
        color: #000;
        font-weight: 600;
    }


  }


  @media only screen and (max-width: 460px) {


    .__product_card {
        height: 240px;
    }


  }

    @media only screen and (max-width: 400px) {


        .__product_card {
            height: 225px;
        }


         .__product_card {
             height: 220px;
         }


    }